FindingsSweapApi.md
doc/internal/credentials.txt
.DS_Store
examples/events/events.go
examples/guests/
examples/guests/guests.go
examples/guests/census-90/all.last
examples/guests/census-90/female.first
examples/guests/census-90/male.first
examples/guestsBulkImport/generateGuests.go
examples/guestsBulkImport/guestsBulkImport.go
examples/guestsBulkImport/census-90/all.last
examples/guestsBulkImport/census-90/female.first
examples/guestsBulkImport/census-90/male.first
examples/guestsD/guests.go
examples/pollingNewGuests/guests.go
examples/statistics/statistics.go
examples/generateBulkGuests
examples/generateguestsOneByOne
examples/deleteBulkImports
.nicholas-env
.stageing-env
.dev-env
.env
apps/clearance/main.go
apps/main.go
